---
layout: page
title: "About"
description: "关于我"
header-img: "img/about1-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        初次见面，请多关照，上面那个头发很乱的是我，天生自然卷，去理发店柔顺拉直也只能扛几天。
        半路转行web，本来是跟在老师后面做机器人相关，但去年暑假在常州这边软件园待了一个月后，
        对web产生了极大的兴趣，原来带我的老师出国留学了，独自跌跌撞撞的开始自学
        ，第一次知道原来网页只需要个记事本写几个标签就可以在浏览器看见效果，第一次自己玩自己写的小游戏，第一次
        和数据库交互...这些带给我的成就感远远超过我之前瞪大眼睛焊电路板，网上四处搜罗各种论文学习相关机器人模型，运动学，封装好的定位，视觉算法包应用
        ，焊的电路板还是学长画的...
        刚开始的时候学的是.net配合C#，去年九月份又学了点php,当时想做一点微信公众号开发，后来做到回复图文消息又弃坑了，又赶上申请大创突击了两周安卓，感到兴趣索然
        ，做完之后又弃坑，最后老老实实的开始学js,边做百度IFE上的练习边学。每次看到高分答案提交的代码，差距确实太大了，周围也找不到可以交流的小伙伴
        ，认识的学长全是偏硬件或者擅长c++或java刷题，想想当初dom操作选取class不知返回的是伪数组绑定不了事件郁闷了一下午，再向后给class循环绑定事件传ig
        传i过去不知用闭包...甚至刚开始用github一直用桌面版客户端,走了很多弯路，太渴望在身边可以有互相交流的人了。



    </blockquote>




</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>


    </blockquote>

    <p>
         (｡･∀･)ﾉﾞ嗨，我是林润泽，大三本科在读，2016年9月开通本站。
        大二那年暑假，有幸去学校的对日外包公司待了一个月，这一个月逆转了我的人生。
        那个闷热的暑假，学校搬迁，留校人员移居另一校区，对面正好就是常州新北软件园，
    本来是在实验室里跟着李老师做机器人方面的项目，但搬迁实验室也没了，带我的老师忙着出国留学，更多的时候都是自己在宿舍里瞎学，
    在此，非常感谢严老师推荐我去学校的外包公司，这个机会对我的人生影响太大了。以前对网页什么的只是听说过，对于脚本语言之类更是一头雾水，
    在学校里更是接触不到web相关的平台。现在回头想一想，当时带我的员工明显也是业余的前端，其实是做C#开发的。因为我当时问他为什么我dom选取class无效他也网上搜了好半天
   。
    </p>



</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
